.total-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.total-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    height: 100%;
}

.total-container button:nth-child(1) {
    left: -10%;
}

.total-container button:nth-child(2) {
    right: -10%;
}

.film-list-container {

}

.film-list-container .film-list {
    height: 100%;
    width: 100%;
    display: flex;

}