.video-container {
    width: 100vw;
    height: 150vh;
    overflow: hidden;
    position: relative;
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.video-container.loaded {
    opacity: 1;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 200vw; /* Fill the entire width of the viewport */
    height: 150vh; /* Fill the entire height of the viewport */
    object-fit: cover; /* Cover the container without black bars */
    overflow: hidden;
}


.video-container video {
    width: 150%;
    height: 600px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.play-button.hidden {
    display: none;
}

.btn-container {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 25%;
    right: 7.5%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.btn-container button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    cursor: pointer;
}