/* Container chính cho toàn bộ Account Management */
.account-management-container {
    display: flex;
    min-height: 100vh; /* Đảm bảo chiều cao bao phủ toàn bộ màn hình */
}

/* Sidebar nằm cố định bên trái */
.admin-sidebar {
    width: 250px;
    background-color: #6A2222;
    position: sticky;
    color: white;
    padding: 20px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);

    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Phần nội dung (content) nằm bên cạnh Sidebar */
.account-management-content {

    width: calc(100% - 250px); /* Chiếm phần còn lại của trang */
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    min-height: 100vh; /* Đảm bảo content bao phủ toàn bộ chiều cao */
}

/* Header của Account Management */
.account-management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.account-management-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.add-account-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-account-btn:hover {
    background-color: #4CAF50;
}

/* Table styling */
.account-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.account-table th, .account-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.account-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.account-table tbody tr:hover {
    background-color: #f1f1f1;
}
.ban-btn {
    background-color: red;
}
.ban-btn-disabled {
    background-color: #d3d3d3;
    color: #888;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: not-allowed;
    pointer-events: none;
}
.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 15px;
}

.pagination-controls button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #6A2222;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-controls button:hover {
    background-color: #a50000;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-controls span {
    font-weight: bold;
    color: #333;
}


