.body__right-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%; /* Ensure the container takes up full width */
    margin: 0 auto; /* Center the content */
}
.message {
    text-align: center;
    font-family: "Albert Sans semi-bold", sans-serif;
}
.body__right-container h2 {
    font-size: 20px;
    color: #000;
    font-family: "Albert Sans semi-bold", sans-serif;
    margin-bottom: 50px;
}

