.movie-request-management {
    display: flex;

}

.request-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.request-table th, .request-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.request-table th {
    background-color: #f2f2f2;
}
.acp-btn {
    background-color: #4CAF50;
}