.film-poster {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #000000;
    position: relative;
}

.film-poster img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: transform 0.3s;
    object-fit: cover;
    opacity: 0.9;
    z-index: -999;

}




