.box-container__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 120px;
    margin-bottom: 30px;
    border: 1px solid #ddd; /* Soft border */
    border-radius: 15px; /* Rounded corners */
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    position: relative;
    transition: background-color 0.3s ease;
}

.box-container__item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-title {
    font-family: "Albert Sans semi-bold", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #000;
}

.box-description {
    font-size: 16px;
    margin-top: 5px;
    color: #333;
}

.box-image img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
