    .cmanager-seat {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: #f5f5f5;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: "Albert Sans semi-bold", sans-serif;
        cursor: pointer;
        transition: all 0.3s;
    }
