.cinema-list-container {
    display: flex;
    background-color: #f4f4f4;
    width: 100vw; /* Đảm bảo container chiếm hết chiều ngang */

}

.cinema-list-content {

    width: calc(100% - 250px); /* Chiếm phần còn lại của trang */
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    min-height: 100vh; /* Đảm bảo content bao phủ toàn bộ chiều cao */
}
.cinema-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cinema-list-header h2{
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.add-cinema-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
}

.cinema-table {
    width: 100%;
    border-collapse: collapse;
}

.cinema-table th,
.cinema-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.cinema-table th {
    background-color: #e0e0e0;
}

.cinema-logo {
    width: 50px;
    height: auto;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-btn {
    padding: 5px 10px;
    cursor: pointer;
}

.modal-content select {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    margin-top: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.modal-content select:focus {
    border-color: #4CAF50; /* Highlight border on focus */
    outline: none;
}

.input-error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Adjust styles for form inputs for better consistency */
input[type="text"], input[type="file"], select {
    margin-bottom: 15px;
}
.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination-controls button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #800000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-controls span {
    font-weight: bold;
}