
.header-user span {
    color:#ffffff;
}

.header-user__user img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    border: #ffffff 1px solid;
}
.header-user {
    position: relative;
    display: inline-block;
}

.header-user__container {
    display: flex;
    align-items: center;
}

.header-user__avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
}

.header-user__triangle {
    margin-left: 8px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.header-user__triangle:hover {
    color: #000; /* Change color on hover */
}

/* Dropdown container */
.header-user__dropdown {
    position: absolute;
    top: 50px; /* Adjust as needed based on avatar size */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 120px; /* Adjust width if needed */
    border-radius: 4px;
}

/* Dropdown menu items */
.header-user__dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-user__dropdown ul li {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.header-user__dropdown ul li:hover {
    background-color: #f0f0f0;
}
