.wrapper {
    position: relative;
}

.wrapper p {
    font-size: 16px;
}

.darken .overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.book-ticket-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 90vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.book-ticket-container img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.book-ticket-container >   img {
    position: absolute;
    top: 3%;
    left: 10%;
    width: 30px;
    height: 30px;
}

.book-ticket-container h2 {
    font-family: "Albert Sans semi-bold", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.book-ticket-container .seats-info {
    width: 50%;
    height: 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.book-ticket-container .seats-info .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.book-ticket-container .seats-info .info p {
    font-family: "Albert Sans semi-bold", sans-serif;
    font-size: 14px;
    color: #000000;
    margin-left: 5px;
    text-align: center;
}

.book-ticket-container .seats-info .info .color {
    width: 15px;
    height: 15px;
}

.schedule-film {
    width: 100%;
    height: 280px;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.schedule-film p {
    font-size: 14px;
    color: #000000;
}

.schedule-film img {
    width: 190px;
    height: 280px;
}

.schedule-film .film-info {
    width: 100%;
    margin-left: 15px;
}

.schedule-film .film-info .film-age {
    font-family: "Albert Sans bold", sans-serif;
    text-align: center;
    width: 40px;
    height: 30px;
    background: #C7872D;
    align-items: center;
    padding-top: 5px;
    position: absolute;
    right: 0;
}

.schedule-film .film-info .film-genre {
    font-family: "Albert Sans", sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;
}

.schedule-film .film-info .film-name {
    font-family: "Albert Sans semi-bold", sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.schedule-film .film-schedule {
    width: 100%;
    margin-top: 30px;
}

.schedule-film .film-schedule p {
    font-family: "Albert Sans semi-bold", sans-serif;
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
}

.schedule-film .film-info .film-schedule .showtime {
    width: 125px;
    height: 50px;
    display: inline-flex;
    border: 1px solid #000000;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.schedule-film .film-info .film-schedule .showtime:hover {

    background-color: #305b89;
    cursor: pointer;
}

.schedule-film .film-info .film-schedule .showtime p:first-child {
    font-family: "Albert Sans semi-bold", sans-serif;
    font-size: 14px;
    color: #000000;
}

.schedule-film .film-info .film-schedule .showtime p:nth-child(2) {
    font-family: "Albert Sans", sans-serif;
    font-size: 12px;
    color: #22228f;
}
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Increase opacity for stronger overlay */
    z-index: 100; /* Ensure it's on top of all other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light grey */
    border-left-color: #000; /* Black color for the rotating part */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
